@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

main {
	flex: 1;
}

.dollar {
	&::before {
		content: '$';
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}
}
